#footer {
  background-color: var(--color-background-secondary);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 6px -1px #000000;
}

#footer > div > a:visited {
  color: var(--color-background-primary);
}
