/* includes selectors for navbar.js and header.js */
#header {
  background-color: var(--color-background-secondary);
}

#header > #navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#header > #navbar > .container > * {
  list-style: none;
}

#header > #navbar > .container > * > li {
  position: relative;
  padding: 0.3rem;
}

#header > #navbar > .container > * > li:first-of-type {
  /* value needs to be equal to .nav_btn padding value */
  margin-top: 0.3rem;
}

/* optional */
#header > #navbar > .container > .nav_right > *:not(:first-child)::after,
#header > #navbar > .container > .nav_right > *:not(:first-child):hover::after {
  position: absolute;
  content: '';
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(255, 187, 69);
  z-index: -1;
}

/* optional */
#header > #navbar > .container > .nav_right > li::after {
  width: 0%;
  transform: skewX(0deg);
  transition: all 500ms ease-in-out;
}

/* optional */
#header > #navbar > .container > .nav_right > li:hover::after {
  width: 100%;
  transform: skewX(8deg) scaleX(1.03);
  transition: all 200ms ease-in-out;
}

#header > #navbar > .container > * > li > a {
  display: flex;
  align-items: center;
}

#header > #navbar > .container > * > li > .nav_logo > svg {
  width: clamp(5rem, 3vw, 5.5rem);
}

#header > #navbar > .container > .nav_right {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-background-secondary);
  padding: 1rem;
  transform: translateY(-100%);
}

#header > #navbar > .container > .nav_right > li > #unit_systems_button {
  position: relative;
  width: max-content;
  border-radius: 0.75rem;
  border: none;
  padding: 0.5rem;
  background-color: var(--color-accent);
  box-shadow: inset 0px 0px 5px 0px var(--color-box-shadow);
}

#header > #navbar > .container > .nav_right > li > #unit_systems_button::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  padding: 0.5rem;
  width: 50%;
  height: 100%;
  border-radius: 0.75rem;
  background-color: rgb(25, 216, 25);
  transition: all 250ms;
}

#header > #navbar > .container > .nav_right > li > #unit_systems_button[value='true']::before {
  transform: translateX(0%);
  box-shadow: -2px 0px 3px -1px var(--color-box-shadow);
}

#header > #navbar > .container > .nav_right > li > #unit_systems_button[value='false']::before {
  transform: translateX(100%);
  box-shadow: 2px 0px 3px -1px var(--color-box-shadow);
}

#header > #navbar > .container > .nav_right > li > #unit_systems_button > * {
  position: relative;
  z-index: 2;
  padding: 0.5rem;
}

#header > #navbar > .container > .nav_right > li > #unit_systems_button[value='true'] > .imperial {
  /* background-color: red; */
}

/* #header > #navbar > .container > .nav_right > li > .unit_systems_buttons {
  width: max-content;
  border-radius: 0.75rem; */
/* background-color: var(--color-accent);
  box-shadow: inset 0px 0px 5px 0px var(--color-box-shadow); */
/* padding: 0.05rem;
} */

/* #header > #navbar > .container > .nav_right > li > .unit_systems_buttons > *:not(span) {
  border: none;
  padding: 0.5rem;
  border-radius: 0.75rem;
  background-color: transparent;
} */

/* #header > #navbar > .container > .nav_right > li > .unit_systems_buttons > *.selected {
  background-color: rgb(25, 216, 25);
} */

/* left button */
/* #header > #navbar > .container > .nav_right > li > .unit_systems_buttons > #imperial.selected {
  box-shadow: -2px 0px 3px -1px var(--color-box-shadow);
  animation: slide_left 500ms ease-out;
} */

/* right button */
/* #header > #navbar > .container > .nav_right > li > .unit_systems_buttons > #metric.selected {
  box-shadow: 2px 0px 3px -1px var(--color-box-shadow);
  animation: slide_right 500ms ease-out;
} */

#header > #navbar > .container > .nav_right > li > .unit_systems_buttons > *:hover {
  cursor: pointer;
}

#header > #navbar > .container > .nav_right.visible {
  visibility: visible;
  transform: translateY(0%);
  transition: transform 200ms ease-in-out;
  z-index: 2;
}

.nav_item,
.nav_item:visited {
  color: var(--primary-font-color, rgb(0, 0, 0));
  text-decoration: none;
}

.nav_item > svg {
  width: clamp(1.5rem, 3vw, 2.5rem);
  height: auto;
}

.nav_btn {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 0.35rem;
  padding: 0.3rem;
  z-index: 2;
}

.nav_btn > svg {
  width: 2rem;
  height: auto;
}

.nav_btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav_btn:hover > svg {
  filter: invert(1);
}

/* form styles */
#header > #form {
  padding: 1rem;
}

#header > #form > .form_item:first-child {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

#header > #form > .form_item:first-child > label {
  font-size: clamp(2rem, 2vw, 3rem);
}

#header > #form > .form_item:first-child > input {
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  padding: 0.75rem;
  width: 100%;
}

#header > #form > .form_item:first-child > input:focus {
  outline: none;
  box-shadow: inset 0px 0px 5px 2px var(--color-box-shadow);
  padding-left: 2rem;
}

#header > #form > .form_item:first-child > input:focus::placeholder {
  visibility: hidden;
}

#header > #form > .form_item:first-child > .validity_error {
  display: none;
}

@media screen and (min-width: 768px) {
  #header > #navbar > .container > * {
    align-items: center;
  }

  #header > #navbar > .container > .nav_right {
    position: relative;
    visibility: visible;
    background-color: transparent;
    padding: 0;
    transform: translateY(0%);
    display: flex;
    height: inherit;
    width: inherit;
  }

  #header > #navbar > .container > *:not(.nav_left) > li:last-of-type:after,
  #header > #navbar > .container > *:not(.nav_left) > li:last-of-type:hover:after {
    content: none;
  }

  #header > #navbar > .container > *:not(.nav_left) > li:not(:last-child):after,
  #header > #navbar > .container > *:not(.nav_left) > li:not(:last-child):hover::after {
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 1rem;
  }

  /* optional */
  #header > #navbar > .container > *:not(.nav_left) > li:not(:last-child):after {
    width: 0%;
    height: 0%;
    transform: skewX(0deg);
    transition: all 200ms ease-in-out;
  }

  /* optional */
  #header > #navbar > .container > *:not(.nav_left) > li:not(:last-child):hover::after {
    width: 60%;
    height: 12%;
    transform: skewX(0deg) scaleX(1);
    transition: all 200ms ease-in-out;
  }

  #header > #navbar > .container > * > li:first-of-type {
    margin-top: 0;
  }

  .nav_btn {
    display: none;
  }

  #header > #form > .form_item:first-child {
    align-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
  }

  #header > #form > .form_item:first-child > label {
    font-size: clamp(1rem, 1vw, 1.25rem);
  }

  #header > #form > .form_item:first-child > input {
    width: 50%;
  }
}

@keyframes slide_left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide_right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}
