/* stylesheet for tabs.js, and tabs_navbar.js */
#tabs_navbar {
  background-color: var(--color-background-default);
  padding: 1rem;
  display: flex;
  justify-content: center;
  box-shadow: 0px -5px 14px -10px #000000;
}

#tabs_navbar > ul {
  display: flex;
  list-style: none;
  column-gap: 0.5rem;
  justify-content: center;
}

.tabs_list_item {
  padding: 0.5rem;
}

/* #tabs_navbar anchors */
.tabs_list_item > * {
  text-decoration: none;
  text-wrap: nowrap;
  color: var(--color-background-primary);
  font-size: clamp(1.5rem, 2vw, 2rem);
  padding: 0.5vw;
  position: relative;
}

.tabs_list_item > *:after {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  content: '';
  width: 50%;
  height: 4px;
  margin: auto;
  background-color: var(--color-accent);
  transform: scaleX(0);
  transition: all 200ms ease-in-out;
}

.tabs_list_item > *:hover:after {
  transform: scaleX(1) scaleY(1.25);
}

.tabs_list_item > *:hover {
  /* border-bottom: 2px solid rgb(255, 0, 0); */
}

.tabs_list_item > [data-active='true'] {
  /* box-shadow: inset 0px 0px 4px 2px black; */
  color: var(--color-background-secondary);
}

@media screen and (min-width: 768px) {
  #tabs_navbar {
    justify-content: flex-start;
  }
  .tabs_list_item > * {
    padding: 1rem;
  }
}
