#today_summary {
  /* background-color: magenta; */
  border: 4px solid rgb(0, 51, 128);
  padding: 2rem;
}

#today_summary > ul {
  list-style: none;
}

#today_summary > ul > :first-child {
  font-size: clamp(2rem, 2vw, 3rem);
}

#today_summary > header > h3 {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

#today_summary > header > h3 > span {
  font-size: 1rem;
  text-wrap: nowrap;
}

#today_summary > ul:last-of-type {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

#today_summary > ul:last-of-type > :last-child {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

#today_summary > ul:last-of-type > :first-child {
  display: flex;
  position: absolute;
  right: 0;
}

#today_details > * > * {
  list-style: none;
}

#today_details > .today_details_header {
  padding: 2rem;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

#today_details > .today_details_header > :first-child {
  flex: 1;
}

/* selects li with "feels like" */
#today_details > .today_details_header > :first-child > :first-child {
  text-wrap: nowrap;
  text-transform: capitalize;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

#today_details > .today_details_header > :first-child > :last-child {
  font-size: clamp(2rem, 2vw, 2.5rem);
}

#today_details > .today_details_header > .today_details_sun {
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  column-gap: 1rem;
}

#today_details > .today_details_header > .today_details_sun > * {
  list-style: none;
  display: flex;
  column-gap: 0.5rem;
}

/* selects li's that wrap an icon */
#today_details > .today_details_header > .today_details_sun > * > :first-child > svg {
  width: clamp(1.75rem, 2vw, 3rem);
  height: auto;
}

#today_details > .today_details_header > .today_details_sun > * > li {
  display: flex;
  font-size: clamp(1.5rem, 2vw, 2rem);
}

#today_details > .today_details_container {
  padding: 1rem;
  /* background-color: darkorange; */
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

#today_details > .today_details_container > ul {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 1.25rem;
  border: 2px solid black;
  flex-wrap: wrap;
  justify-content: center;
}

#today_details > .today_details_container > ul > * {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

/* selects li's that wrap an icon */
#today_details > .today_details_container > ul > :first-child {
  display: flex;
}

#today_details > .today_details_container > ul > :first-child > svg {
  width: clamp(1.75rem, 2vw, 2rem);
  height: auto;
}

#today_details > .today_details_container > ul > :nth-child(2) {
  flex: 1;
  text-transform: capitalize;
  text-wrap: nowrap;
}

@media screen and (min-width: 768px) {
  #today_details > .today_details_header > :first-child {
    /* flex: none; */
    /* optional */
  }

  #today_details > .today_details_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
    padding: 2rem;
  }

  #today_details > .today_details_container > ul {
    column-gap: 1.5rem;
    padding: 2rem;
  }
}
