@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100;200;300;400;500;600;700;800;900&display=swap');/* create color scheme/pallete */
/*
https://coolors.co/41d3bd-fffff2-791e94-de6449-407899
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-clor-primary: rgb(25, 31, 20);
    --background-color-primary: rgb(255, 255, 242);
    --background-color-secondary: rgb(222, 100, 73);
    --background-color-accent-primary: rgb(251, 123, 121);
    --background-color-books-default: rgb(188, 162, 125);
    --background-color-books-read: rgb(111 199 120);
    --font-family-primary: 'Titillium Web', sans-serif, Arial;
    --font-family-secondary: 'Pathway Extreme', sans-serif, Arial;
    --button-active-box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
    --button-border-radius: 0.35rem;
}

body {
    min-height: 100vh;
    background-color: var(--background-color-primary);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

header {
    background-color: var(--background-color-secondary);
    display: grid;
    padding: 2.25rem;
    box-shadow: 2px 2px 2px 1px hsl(0, 0%, 60%);
    animation-name: slideinright;
    animation-duration: 500ms;
    position: relative;
}

header > h1 {
    text-align: center;
    font-family: var(--font-family-secondary);
    font-weight: 400;
    letter-spacing: 0.5rem;
    font-size: clamp(1.5rem, 3vw, 4rem);
}

header > .nav {
    position: absolute;
    bottom: 0;
    right: 0;
}

header > .nav > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: end;
    align-items: center;
    padding: 0.15rem;
}

header > .nav > ul > li > a > .github {
    max-width: 24px;
}

#main-content {
    display: grid;
    padding: 2rem;
}

#modal {
    margin: auto;
    min-width: 70vw;
    min-height: 50vh;
    box-shadow: 0px 2px 8px 1px rgb(0, 0, 0);
    border: none;
    border-radius: 0.75rem;
}

#modal::backdrop {
    background: linear-gradient(45deg, rgba(255, 100, 20, 0.4), rgba(50, 60, 100, 0.4));
}

#modal > #form {
    position: relative;
    min-width: inherit;
    min-height: inherit;
    display: grid;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--background-color-primary);
    font-family: var(--font-family-primary)
}

#modal > #form > .form-item {
    display: grid;
    align-content: baseline;
}

#modal > #form > .form-item > label {
    font-size: clamp(1rem, 0.744rem + 2.953vw, 1.5rem);
}

#modal > #form > *:first-child {
    font-size: clamp(1.25rem, 0.744rem + 2.953vw, 2.5rem);
}

#modal > #form > .form-item:nth-child(6) {
    grid-template-columns: minmax(0, 1fr) 10%;
    gap: 1rem;
}

#modal > #form > .form-item:nth-child(6) > .container > input {
    width: 2.75rem;
}

#modal > #form > .form-item > .container {
    position: relative;
}

#modal > #form > .form-item > .container > span {
    position: absolute;
    top: 0;
    right: 24px;
    min-height: 100%;
    align-items: center;
}

#modal > #form > .form-item > .container > span > img {
    max-width: 18px;
    border-radius: 1rem;
    background-color: rgb(210, 210, 210);
}

#modal > #form > .form-item > .container > input {
    padding: 0.25rem;
    padding-left: 0.5rem;
    background-color: rgba(198, 198, 198, 0.25);
    border-radius: 0.30rem;
    border: none;
    border-bottom: 2px solid var(--text-clor-primary);
    width: 100%;
    font-size: clamp(1rem, 0.744rem + 1.953vw, 1.25rem);
    font-family: var(--font-family-secondary);
}

#modal > #form > .form-item > .container > input.valid {
    border: 2px solid rgb(27, 220, 27);
}

#modal > #form > .form-item > .container > input.invalid {
    border: 2px solid rgb(252, 71, 71);
}

#modal > #form > .form-item > .container > input:focus {
    padding-left: 0.75rem;
    outline: none;
}

#modal > #form > .form-item > .error {
    color: red;
}

#modal > #form > .form-item > .isbn-search > a {
    text-decoration: inherit;
}

#modal > #form > .button-container > button {
    display: grid;
    background: none;
    border: none;
    border-radius: var(--button-border-radius);
}
#modal > #form > .button-container > button:active {
    box-shadow: var(--button-active-box-shadow);
}

#modal > #form > .button-container ~ .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

#modal > #form > .button-container:not(.button-container ~ .button-container) {
    position: absolute;
    right: 0;
}

#modal > #form > .button-container > button > img:hover {
    cursor: pointer;
}

#modal > #form > .button-container > .cancel > img {
    width: min(1.75rem, 10vw);
}

#modal > #form > .button-container > button:not(.cancel) > img {
    width: min(3rem, 15vw);
}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-auto-rows: min-content;
    align-content: center;
    justify-content: center;
    gap: 1rem;
}

#library > .button-add-book {
    display: grid;
    background-color: hsl(0, 0%, 83%);
    border-radius: var(--button-border-radius);
    animation-name: nothingtosomething;
    animation-duration: 250ms;
}

#library > .button-add-book > .add-book {
    padding: 0.5rem;
    background: transparent;
    background-color: var(--background-color-accent-primary);
    border: none;
    border-radius: 3rem;
    justify-self: center;
    align-self: center;
    margin: 1rem 0rem;
}

#library > .button-add-book:hover {
    filter: brightness(0.8);
}

#library > .button-add-book:hover,
#library > .button-add-book > .add-book {
    cursor: pointer;
}

#library > .button-add-book:active {
    box-shadow: var(--button-active-box-shadow);
}

#library > .book {
    animation-name: nothingtosomething;
    animation-duration: 100ms;
}

#library > .book > .container {
    min-height: 100%;
    background-color: var(--background-color-books-default);
    padding: 0.5rem;
    display: grid;
    grid-auto-rows: 1fr min-content;
    border-radius: var(--button-border-radius);
    transition-duration: 500ms;
}

#library > .book > .read {
    background-color: var(--background-color-books-read);
}

#library > .book > .container:hover {
    outline: 2px solid rgb(73, 73, 73);
}

#library > .book > .container > :first-child {
    margin-bottom: 1rem;
    text-align: center;
    align-self: center;
    font-family: var(--font-family-primary);
    font-weight: 700;
}

#library > .book > .container > ul {
    padding: 0vw 2vw;
}

#library > .book > .container > ul > li {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));;
    align-items: center;
    margin-bottom: 0.5rem;
    background-color: var(--background-color-primary);
    justify-items: center;
    font-family: var(--font-family-primary);
    border-radius: 0.25rem;
    padding: 0rem 0.25rem;
    box-shadow: 0px 2px #FFFFF2;
}

#library > .book > .container > ul > li > p {
    padding: 0.5rem;
    text-align: center;
}

#library > .book > .container > ul > li > p:first-child {
    text-transform: uppercase;
    font-weight: 600;
}

#library > .book > .container > .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

#library > .book > .container > .button-container > div > button {
    display: grid;
    background: none;
    border: none;
    border-radius: var(--button-border-radius);
}

#library > .book > .container > .button-container > div > button:active {
    box-shadow: var(--button-active-box-shadow);
}

#library > .book > .container > .button-container > div > button > img {
    width: min(3rem, 15vw);
}

#library > .book > .container > .button-container > div > button > img:hover {
    cursor: pointer;
}

#library > .book > .container > .button-container > * > * {
    width: 100%;
}

footer {
    background-color: var(--background-color-secondary);
    display: grid;
    justify-items: center;
    padding: 0.5rem;
    font-family: var(--font-family-secondary);
    font-weight: 200;
    box-shadow: 2px 2px 2px 3px hsl(0, 0%, 60%);
    animation-name: slideinleft;
    animation-delay: 100ms;
    animation-duration: 400ms;
}


@media screen and (min-width: 768px) {
    #main-content {
        padding: 2vw;
    }

    #modal {
        min-width: 25vw;
        min-height: 25vh;
    }

    #modal > #form > *:first-child { 
        grid-area: 1 / span 2;
    }

    #modal > #form > .form-item:nth-child(6) {
        grid-area: 4 / span 2;
    }

    #modal > #form > .button-container ~ .button-container {
        grid-area: 5 / span 2;
    }

    #library {
        grid-template-columns: repeat(auto-fit, minmax(300px, 25%));
    }

    #library > *:nth-child(2n+1) {
        animation-name: slideinright;
        animation-duration: 200ms;
    }
    
    #library > *:nth-child(2n) {
        animation-name: slideinleft;
        animation-duration: 200ms;
    }
}

@keyframes slideinright {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideinleft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes nothingtosomething {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}