*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-clor-primary: rgb(25, 31, 20);
    --background-color-primary: #FDEEDE;
    --background-color-secondary: #fcc3bb;
    --background-color-accent-primary: #FB7B79;
    --background-color-books-default: #FCBE59;
    --background-color-books-read: #3E5BC;
}

body {
    min-height: 100vh;
    background-color: var(--background-color-primary);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

header {
    background-color: var(--background-color-secondary);
    display: grid;
    justify-content: center;
    padding: 1.25rem;
}

#main-content {
    display: grid;
    padding: 0.5rem;
    border: 2px solid rgb(32, 100, 217); /*for debugging*/
}

#modal {
    margin: auto;
    min-width: 50vw;
    min-height: 50vh;
    box-shadow: 0px 2px 8px 1px rgb(0, 0, 0);
    border: none;
    border-radius: 0.75rem;
}

#modal::backdrop {
    background: linear-gradient(45deg, rgba(255, 100, 20, 0.4), rgba(50, 60, 100, 0.4));
}

#modal > #form {
    position: relative;
    min-width: inherit;
    min-height: inherit;
    display: grid;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--background-color-primary);
}

#modal > #form > .form-item {
    display: grid;
}

#modal > #form > .form-item:nth-child(6) {
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
    justify-content: center;
}

#modal > #form > .form-item > input {
    padding: 0.25rem;
    padding-left: 0.5rem;
    background-color: rgba(198, 198, 198, 0.25);
    border-radius: 0.30rem;
    border: none;
    border-bottom: 2px solid var(--text-clor-primary);
}

#modal > #form > .form-item > input:focus {
    padding: 0.5rem;
    padding-left: 1rem;
    outline: none;
}

#modal > #form > .form-item > .error {
    color: red;
}

#modal > #form > .button-container > button {
    background: none;
    border: none;
}

#modal > #form > .button-container ~ .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#modal > #form > .button-container:not(.button-container ~ .button-container) {
    position: absolute;
    right: 0;
}

#modal > #form > .button-container > button > img:hover {
    cursor: pointer;
}

#library {
    border: 2px solid rgb(14, 105, 14); /*for debugging*/
    display: grid;
}

#library > .button-add-book {
    justify-self: center;
    align-self: center;
    padding: 1rem;
}

#library > .button-add-book > .add-book {
    padding: 0.5rem;
    background: transparent;
    background-color: var(--background-color-accent-primary);
    border: none;
    border-radius: 3rem;
}

#library > .button-add-book > .add-book:hover {
    cursor: pointer;
}

#library > .book {
    border: 2px dashed rgb(75, 9, 113); /*for debugging*/
}

#library > .book > .container {
    min-height: 100%;
    background-color: var(--background-color-books-default);
}

#library > .book > .container > ul > li {
    border: 2px dashed rgb(180, 147, 56); /*for debugging*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#library > .book > .container > ul > li > p {
    border: 2px dashed rgb(64, 56, 180); /*for debugging*/
}

#library > .book > .container > .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#library > .book > .container > .button-container > * > * {
    width: 100%;
}

footer {
    background-color: var(--background-color-secondary);
    display: grid;
    justify-items: center;
    padding: 0.50rem;
}

@media screen and (min-width: 768px) {

}