@font-face {
  /* https://fonts.google.com/specimen/Roboto+Condensed */
  font-family: 'Roboto Condensed';
  src: url(./assets/fonts/Roboto_Condensed/static/RobotoCondensed-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url(./assets/fonts/Roboto_Condensed/static/RobotoCondensed-Medium.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url(./assets/fonts/Roboto_Condensed/static/RobotoCondensed-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

:root {
  --color-font-primary: #000000;
  --color-font-secondary: #e8e9eb;
  --color-background-primary: #313638;
  --color-background-secondary: #f06543;
  --color-background-default: #ffffff;
  --color-accent: #f09d51;
  --color-box-shadow: #000000;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background-primary);
  color: var(--color-font-secondary);
  font-family: 'Roboto Condensed', Arial;
  font-weight: 400;
  min-height: 100svh;
}

body > #weather_app {
  min-height: inherit;
  display: grid;
  grid-template-rows: min-content 1fr;
}
