*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100svh;
  background-color: aquamarine;
}

.lists > ul > :first-child {
  color: white;
  background-color: red;
}

.fake_btn {
  width: max-content;
  background-color: rgb(235, 235, 235);
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.fake_btn:hover {
  background-color: rgb(193, 193, 193);
}
