@font-face {
    font-family: 'Bebas Neue';
    src: url('./assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* custom variables */
    --text-color-primary: rgb(32, 32, 32);
}

body {
    min-height: 100vh;
}

#todo_app {
    min-height: inherit;
    display: grid;
    grid-template-rows: min-content 1fr;
}

#content {
    position: relative;
}

#content {
    display: grid;
}

.overlay_main_content {
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.overlay_main_content.dim {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}

#main_content {
    flex: 1;
    padding: 5% 5% 0% 5%;
    display: grid;
}

#main_content > :first-child {
    display: grid;
    grid-auto-rows: min-content 1fr;
    justify-self: center;
    width: 100%;
}

/* general styles for similar elements existing on different modules */
button {
    background: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}

button:not(.btn_checkbox_task):not(.btn_date_task):hover {
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width:768px) {
    #main_content {
        padding: 5% 10% 0% 10%;
    }

    #main_content > :first-child {
        width: 70%;
    }

    #content {
        position: static;
        display: flex;
    }


}