@font-face {
    font-family: 'Bebas Neue';
    src: url('./assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* custom variables */
    --text-color-primary: rgb(32, 32, 32);
}

body {
    min-height: 100vh;
}

#todo_app {
    min-height: inherit;
    display: grid;
    grid-template-rows: min-content 1fr;
}

#content {
    position: relative;
}

#sidebar {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

#sidebar > .container {
    height: inherit;
    width: 65%;
    background-color: white;
}

@media screen and (min-width:768px) {
    
}