<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pepperoni</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/home">Home</a>
            <a href="/pizza">Pizza</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <nav>
        <ul>
          <li>
            <a href="/pizza/pepperoni">Pepperoni</a>
            <a href="/pizza/supreme">Supreme</a>
          </li>
        </ul>
      </nav>

      <h1>Pepperoni</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore id ipsa
        eaque consectetur explicabo consequuntur recusandae, repellat libero
        cumque magnam accusamus eius possimus assumenda magni. Dolore ipsum
        mollitia ex nihil.
      </p>
    </main>
  </body>
</html>
