<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NVDA</title>
  </head>
  <body>
    <main>
      <h1>Nvidia (NVDA)</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ut ea
        dolores voluptatibus suscipit inventore. Itaque quo ad maxime
        voluptatibus, tempore sit odio illo impedit. Placeat quod dicta
        architecto illum!
      </p>
    </main>
  </body>
</html>
