<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tickers</title>
  </head>
  <body>
    <main>
      <h1>Tickers</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rerum
        sunt, quod doloribus nihil culpa, odit saepe harum magni labore a?
        Accusamus, maxime rem distinctio labore quia repellendus alias voluptas?
      </p>

      <form action="/ticker/search" method="get">
        <label for="ticker"></label>
        <input id="ticker" name="search_results" type="search" />
      </form>
    </main>
  </body>
</html>
