*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color-content: rgb(65, 65, 65);
    --heading-color-primary: rgb(0, 0, 0);
    --heading-color-secondary: rgb(255, 255, 255);
}

body {
    min-height: 100vh;
    background-color: rgb(228, 228, 228);
    display: grid;
}

.icon {
    max-width: 24px;
}

.avatar {
    width: 32px;
    height: 32px;
    vertical-align: center;
    border-radius: 50%;
    background-color: red;
}

header {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
}

header .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    place-items: center center;
}

header .container:first-child {
    /* grid-area: 1 / 1; */
}

header .container:last-child {
    grid-area: 2 / 1;
}

header > .row-two > button {
    border-style: none;
    border-radius: 5em;
    padding: 0.5em 1em;
}

#sidebar {
    background-color: rgb(7, 135, 255);
}

#sidebar .container {

}

#main-content {

}

#main-content .projects {

}

.project-item > button {
    width: 24px;
    background-color: transparent;
    border: none;
}