

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color-content: rgb(65, 65, 65);
    --heading-color-primary: rgb(0, 0, 0);
    --heading-color-secondary: rgb(255, 255, 255);
}

body {
    min-height: 100vh;
    background-color: rgb(228, 228, 228);
    display: grid;
}

.icon {
    width: 1.25rem;
}

.avatar-container {
    display: grid;
    align-content: center;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: red;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(255, 255, 255);
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(min-content, 50%)); */
    grid-template-columns: 1fr min-content;
}

/* for debugging grid space */
header .item {
    border: 2px dashed brown;
}
/* for debugging grid space */

header .item:first-child {
    display: grid;
    grid-template-columns: min-content 1fr;
}

header .item:nth-child(2) > *:not(.icon.bell) {
    display: none;
}

header .item:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
    display: grid;
    grid-template-columns: min-content 1fr;
    place-self: center;
    align-items: center;
    gap: 0 1rem;
}

header .item:nth-child(3) > .avatar-container {
    grid-area: 1 / 1 / 3 / 2;
}

header .item:nth-child(3) > h3 {
    font-size: clamp(0.75rem, 2vw, 1rem);
}

header .item:nth-child(3) > h1 {
    font-size: clamp(1rem, 2.25vw, 2rem);
    grid-area: 2 / 2 / 3 / -1;
}

header .item:last-child {
    grid-area: 3 / 1 / 4 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 0 1em;
}

header .item:last-child > button {
    display: grid;
    justify-content: center;
    min-width: 100%;
    padding: .5rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(7, 156, 255);
}

#sidebar {
    background-color: rgb(7, 156, 255);
    position: sticky;
    top: 0;
}

#sidebar > ul > li {
    margin: 0.5em;
    padding: 0em 1.25em;
}

#sidebar > ul > li:nth-child(2),
#sidebar > ul > li:nth-child(8) {
    margin-top: 2em;
}

#sidebar > ul > li:not(li:first-child){
    display: none;
}

#sidebar > ul > li > a > img {
    filter:
        invert(100%)
        sepia(26%)
        saturate(62%)
        hue-rotate(78deg)
        brightness(102%)
        contrast(102%);
}

#sidebar > ul > li > a {
    color: white;
    font-size: clamp(1rem, 2vw, 1.5rem);
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 1rem;
}

#sidebar > ul > li:first-child > a {
    font-size: clamp(1.25rem, 4vw, 2rem);
}

#sidebar > ul > li > a > img {
    width: clamp(1rem, 5vw, 2rem);
}

#sidebar > ul > li:first-child > a > img {
    width: clamp(1rem, 8vw, 3rem);
}

#sidebar > ul {
    display: grid;
    /* for debugging grid space */
    border: 2px solid lightgreen;
    /* for debugging grid space */
}

#sidebar > ul li {
    /* for debugging grid space */
    border: 2px solid lightsalmon;
    /* for debugging grid space */
}


#main-content {
    /* for debugging grid space */
    border: 2px solid brown;
    /* for debugging grid space */
    display: grid;
    padding: 1.25em;
    gap: 1.25em;
}

#main-content > .projects {
    border: 2px solid orange;
}

#main-content > .projects > .container {
    display: grid;
    gap: 1.25em;
}

#main-content > .projects > .container > .project-item {
    border: 2px solid blue;
    background-color: rgb(255, 255, 255);
    border-radius: 0.75em;
    padding: 1.25em;
    display: grid;
    grid-auto-rows: min-content min-content 1fr;
}

#main-content > .projects > .container > .project-item {
    display: grid;
    grid-auto-rows: min-content min-content 1fr;
}

#main-content > .projects > .container > .project-item > div {
    justify-self: end;
    align-self: end;
}

.project-item > div > * {
    width: 24px;
    background-color: transparent;
    border: none;
}

#main-content > .announcements {
    border: 2px solid orange;
    display: grid;
    grid-auto-rows: min-content 1fr;
}

#main-content > .announcements > .container {
    display: grid;
    gap: 1.25em;
}

#main-content > .announcements > .container > * {
    border: 2px solid blue;
    border-radius: 0.75em;
    padding: 1.25em 2em;
    position: relative;
}

#main-content > .announcements > .container > .announcements-item:nth-child(2)::before,
#main-content > .announcements > .container > .announcements-item:nth-child(2)::after {
    height: 0.25rem;
    background-color: red;
    content: ' ';
    display: block;
    position:absolute;
    left: 0;
    right: 0;
}

#main-content > .announcements > .container > .announcements-item:nth-child(2)::before {
    top: -14px;
}

#main-content > .announcements > .container > .announcements-item:nth-child(2)::after {
    bottom: -14px;
}

#main-content > .trending {
    border: 2px solid orange;
    display: grid;
    grid-auto-rows: min-content 1fr;
}

#main-content > .trending > .container {
    display: grid;
    gap: 1.25em;
}

#main-content > .trending > .container > * {
    border: 2px solid blue;
    border-radius: 0.75em;
    padding: 0.5em 1.25em;
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: start;
    gap: 0 1.5em;
}

#main-content > .trending > .container > .trending-item > a:first-child {
    grid-area: 1 / 1 / 3 / 2;
}

#main-content > .trending > .container > .trending-item > a:nth-child(2) {
    grid-area: 1 / span 3;
    align-self: end;
}

#main-content > .trending > .container > .trending-item > a:last-child {
    grid-area: 2 / span 3;
    align-self: start;
}

@media screen and (min-width: 768px) {
    header {
        grid-area: 1 / 2 / 2 / span 4;
        grid-template-columns: 2fr 1fr;
        align-items: center;
    }

    header .item:first-child {
        display: grid;
    }

    header .item:nth-child(2) > *:not(.icon.bell) {
        display: initial;
    }

    header .item:nth-child(2) {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        justify-content: center;
        align-items: center;
        gap: 0 1rem;
    }

    header .item:nth-child(3) {
        grid-area: unset;
        place-self: unset;
        align-items: center;
        gap: 0 1rem;
    }

    header .item:last-child {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, min-content);
        justify-content: center;
        justify-items: unset;
        align-items: unset;
    }

    header .item:last-child {
        grid-area: 2 / 2;
    }

    #sidebar {
        grid-area: 1 / 1 / span 3 / 2;
    }

    #sidebar > .container {
        display: grid;
    }

    #main-content {
        grid-area: 2 / 2 / 4 / span 4;
        grid-template-columns: repeat(3, 1fr);
    }

    #main-content > .projects {
        grid-area: 1 / 1 / 3 / 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min-content 1fr;
    }

    #main-content > .projects > h3 {
        grid-area: 1 / 1 / 2 / 3;
    }

    #main-content > .projects > .container {
        grid-area: 2 / 1 / 2 / 3;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-auto-rows: 1fr;
    }
}