@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --text-font-primary: 'Roboto', Arial;
    --text-color-secondary: rgb(236, 236, 236);
    --text-color-primary: rgb(50, 50, 50);
}

body {
    background-color: rgb(228, 228, 228);
}

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#hero {
    min-height: 30%;
    position: relative;
    background-color: red;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 75%), url("../engin-akyurt-2400x1600.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5em 0;
    position: absolute;
    top: 10%;
    background-color: rgba(0, 0, 0, 0.15);
}

#hero .hero-text > img {
    min-width: 20%;
}

#hero .hero-text > h1 {
    font-size: clamp(2rem, 5vw, 8rem);
    font-family: 'Cinzel', Arial, sans-serif;
    letter-spacing: 0.25em;
}

#hero .hero-text > h1,
.image-source * {
    color: var(--text-color-secondary);
}

.image-source {
    min-width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    font-size: clamp(0.6rem, 2vw, 1rem);
    font-family: var(--text-font-primary);
}

#form-content {
    min-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5em;
}

#form-content {
    font-family: var(--text-font-primary);
    color: var(--text-color-primary);
}

#form-content p:nth-child(-n+2) {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 700;
}

#form-content p:nth-child(2) {
    font-family: 'Shadows Into Light', Arial;
    padding-bottom: 1.5em;
}

#form-content p > span {
    font-size: 1.25em;
    font-style: italic;
}

#form-content p,
#form {
    width: 100%;
}

#form-content p,
.form-items,
.form-item-button {
    padding: 1em;
}

#form-content .form-items {
    background-color: rgb(244, 244, 244);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.form-items > * {
    display: flex;
    flex-direction: column;
}

.form-items >:first-child {
    padding-bottom: 1em;
}

.form-item > label {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.25em;
}

.form-item > input {
    border-radius: 5px;
    border: 2px solid #E5E7EB;
    outline: none;
    padding: 0.5em;
}

.form-item > input:focus {
    box-shadow: 0 1px 5px -1px black;
}

.form-item > input:focus:valid {
    border: 1px solid #3953eb;
}

.form-item > span {
    color: #FF0000;
}

.form-item > input {
    /* border: 2px solid #cc3932; */
}

#form-button {
    border-radius: 5px;
    color: var(--text-color-secondary);
    text-transform: capitalize;
    font-weight: bolder;
    padding: 1em 4em;
    border: none;
    background-color: #596D48;
    margin-top: 1.5em;
    font-size: 1rem;
    box-shadow: 0 2px 2px black;
}

#form-button:hover {
    cursor: pointer;
}

#form-content p:last-child a{
    font-weight: 900;
    text-decoration: none;
    color: #596D48;
}

@media screen and (min-width: 768px) {
    #content {
        min-height: 100vh;
        height: 100%;
        width: 100%;
        flex-direction: row;
    }

    #hero {
        min-width: 30%;
    }

    #form-content {
        padding-top: 5em;
    }

    #form-content .form-items {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
    }

    .form-items >:first-child {
        flex-basis: 100%;
    }

    .form-items > * {
        flex-basis: 40%;
    }

    #form-content p,
    .form-items,
    .form-item-button {
        padding-left: 5%;
        padding-right: 25%;
    }
}
