header {
    background-color: lightcoral;
}

header > #navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.40rem 0.35rem;
}

header > #navbar > * > .container {
    display: flex;
    column-gap: 0.25rem;
}

header > #navbar > * > .container > * {
    display: flex;
    align-items: center;
    border-radius: 0.2rem;
}

header > #navbar > * > .container > button {
    background: transparent;
    border: none;
}

.input_search {
    width: 100%;
    border: none;
}

header > #navbar > * > .container > * > img {
    width: clamp(1.65rem, 4vw, 1.5rem);
}