/* styles for task/project modal removal */
.form_removal {
    padding: 1rem;
}

.form_removal > div {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.item_for_removal {
    text-decoration: underline;
}

.form_buttons > .btn_submit_remove {
    /* color: rgba(200, 0, 0, 0.6); */
    background-color: rgba(200, 0, 0, 0.6);
}