/* styles for list of projects on the content section */
/* #main_content > div > div > .nav_projects > .btn_add_project {
    
} */

.projects >:last-child {
    display: grid;
    grid-auto-rows: min-content 1fr;
}

.projects >:last-child > .nav_projects {
    justify-self: end;
}

.projects >:last-child > .nav_projects > .btn_add_project {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    justify-items: flex-start;
    min-width: 100%;
}