#form_task::backdrop  {
    background-color: rgba(0, 0, 0, 0.5);
}

#form_task > .form {
    padding: 1rem;
}

#form_task > .form > div,
.form_task > div {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.form_item > #btn_priority,
.form_item > #btn_project {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    padding: 0.5rem 1rem;
}

.form_item > #btn_priority > .task_priority,
.form_item > #btn_project > .task_project {
    flex: 1;
    text-align: left;
}

.form_item > #btn_priority:hover .img_wrapper_chevron {
    visibility: visible;
}

.form_item > #btn_priority > .img_wrapper_chevron {
    visibility: hidden;
}

.form_item > #project {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url('../assets/icons/chevron_down.svg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
}

.form_item > :last-child {
    min-height: clamp(2rem, 2vw, 3rem);
}