@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* color pallete
    #A798FF
    #C5C5FF
    #F8F7FF
    #FFF1E2
    #FFDFC9
    */
    --background-color-primary: #FFF1E2;
    --background-color-secondary: #A798FF;
    --background-color-accent: #C5C5FF;
    --color-text-secondary: #F8F7FF;
    --font-family-primary: 'Comfortaa', Arial;
    --font-family-score: 'Roboto Mono', monospace;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    background-color: var(--background-color-primary);
    font-family: var(--font-family-primary);
}

header {
    box-shadow: 0px 2px 2px -1px black;
    padding: 1rem;
    display: grid;
    justify-items: center;
    position: relative;
    background-color: var(--background-color-secondary);
    animation: dropDown 150ms ease-in;
}

header > .nav {
    padding: 0.1rem;
    position: absolute;
    align-self: end;
    justify-self: end;
}

header > .nav > ul{
    list-style: none;
}

#main {
    display: grid;
    align-content: center;
}

#main > .container-button {
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
}

#main > .container-button > * {
    gap: 0.25rem;
}

#main > .container-button > .wrapper-select.select {
    display: grid;
    justify-items: center;
}

#main > .container-button > .wrapper-select.select {
    font-weight: 900;
}

#main > .container-button > .wrapper-select.select > #select {
    background-color: var(--background-color-primary);
    border-radius: 2rem;
    padding: 0.25rem;
    text-align: center;
}

#main > .container-button > .wrapper-select.select > #select:focus {
    background-color: var(--background-color-accent);
}

#main > .container-button > .wrapper-input.input {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    justify-items: center;
    gap: 0.5rem 1rem;
}

#main > .container-button > .wrapper-input.input > input {
    border-radius: 2rem;
    padding: 0.25rem 0.5rem;
    border: none;
    text-align: center;
    border-left: 5px solid var(--background-color-secondary);
    border-right: 5px solid var(--background-color-secondary);
    font-family: inherit;
    width: 100%;
}

#main > .container-button > .wrapper-input.input > input:focus {
    outline: none;
    border:1px solid var(--background-color-accent);
    background-color: var(--background-color-secondary);
}

#main > .container-button > .wrapper-input.input > input:focus::placeholder {
    color: var(--color-text-secondary);
}

#main > .container-button > .wrapper-input.input > input::placeholder {
    text-align: center;
    font-family: var(--font-family-primary);
}

#main > .container-button > .wrapper-input.input > #player-one {
    grid-area: 2 / 1;
}

#main > .container-scoreboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
}

#main > .container-scoreboard > .player > *:first-child {
    font-size: 3rem;
    position: relative;
}

#main > .container-scoreboard > .player > .x.active::after,
#main > .container-scoreboard > .player > .o.active::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    border: 2px solid var(--background-color-secondary);
    border-radius: 1rem;
    animation: active 200ms ease-in;
}

#main > .container-scoreboard > .player > *:last-child {
    font-size: 2rem;
    margin-top: 1rem;
    font-family: var(--font-family-score);
}

#gameboard {
    display: grid;
    position: relative;
    justify-self: center;
    padding: 1rem;
    margin: 2rem 0rem;
    animation: popIn 100ms ease-in;
}

#gameboard > ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(70px, 256px));
    grid-auto-rows: minmax(70px, 25vw);
    background-color: black;
    gap: 0.85rem;
}

#gameboard > ul > * {
    list-style-type: none;
}

#gameboard > ul > li > button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--background-color-primary);
    display: grid;
    justify-items: center;
    align-content: center;
}

#gameboard > ul > li > button:focus {
    outline-color: var(--background-color-secondary);
}

#gameboard > ul > li > button > span {
    font-size: 18vw;
    font-family: var(--font-family-primary);
}

#gameboard > ul > li > button > span.marked {
    animation: markBoard 250ms ease-in;
}

#winner-wrapper { 
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    background: linear-gradient(45deg, var(--background-color-primary), var(--background-color-secondary));
    font-size: clamp(1.25rem, 12vw, 4rem);
    text-align: center;
    border-radius: 2%;
    animation: fadeIn 500ms ease-in
}

.wrapper-button.reset {
    display: grid;
    justify-items: center;
}

.wrapper-button.reset > button {
    padding: 1rem 5rem;
    background-color: var(--background-color-secondary);
    border: none;
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: var(--font-family-primary);
}

.wrapper-button.reset > button:active {
    box-shadow: 0px 2px 2px 1px black;
}

.wrapper-footer {
    margin-top: 5rem;
    padding: 1rem;
    display: grid;
    justify-content: center;
    background-color: var(--background-color-secondary)
}

@keyframes active {
    0% {
        transform: scaleX(0);
    }
    
    100% {
        transform: scaleX(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes markBoard {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes dropDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@media screen and (min-width: 768px) {
    #main > .container-button > .wrapper-input.input > input {
        width: 30%;
    }

    #gameboard > ul {
        grid-template-columns: repeat(3, minmax(70px, 125px));
        grid-auto-rows: minmax(70px, 125px);
    }

    #gameboard > ul > li > button > span {
        font-size: 5rem;
    }

    #winner-wrapper {
        font-size: clamp(1.25rem, 5vw, 4rem);
    }
}