#home > *:not(h1) > .container > h2,
#home > *:last-child > .container > p {
    text-align: center;
}

#home > #hours > .container > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5vw;
}

#home > #hours > .container > ul > :nth-child(2n - 1 ) {
    text-align: right;
}

#home > #hours > .container > ul > :nth-child(2n) {
    text-align: left;
}

@media screen and (min-width: 768px) {
    #home {
        grid-template-columns: repeat(2, 1fr);
    }

    #home > h1,
    #home > #statement {
        grid-column: span 2;
    }

    #home > #location > .container {
        min-height: 100%;
        grid-template-rows: min-content;
    }
}