<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
    <% if (locals.users.length > 0) { %>
      <a href="/search">Search user</a>
      <%- include('partials/usersTable.ejs') %>
    <% } else { %>
      <p>Users list is empty.</p>
    <% } %>
  <a href="/create">Create a user</a>
</body>
</html>