<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <form action="/search" method="post">
    <ul>
      <li>
        <label for="name">Name</label>
        <input name="name" type="text" id="name">
      </li>
      <li>
        <label for="email">Email</label>
        <input name="email" type="email" id="email">
      </li>
    </ul>
    <button type="submit">Search</button>
  </form>

  <% if (locals.searchResults && locals.searchResults.length > 0) { %>

  <% } %>
</body>
</html>