@font-face {
    font-family: 'Nunito Sans';
    src: url('./assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf'),
        url('./assets/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

@font-face {
    font-family: 'Teko';
    src: url('./assets/fonts/Teko/Teko-Light.ttf'),
        url('./assets/fonts/Teko/Teko-Medium.ttf'),
        url('./assets/fonts/Teko/Teko-Regular.ttf');
}

:root {
    /* color palette */
    /* https://coolors.co/320e3b-e56399-7f96ff-a6cfd5-dbfcff */
    --background-color-primary: #F3FCF0;
    --background-color-secondary: #FFD23F;
    --accent-color-primary: #EE4266;
    --accent-color-secondary: #1F271B;
    --accent-color-tertiary: #540D6E;
    --font-family-primary: 'Teko', arial, sans-serif;
    --font-family-secondary: 'Nunito Sans', arial, sans-serif;
    --padding-container: 0.5rem;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--background-color-primary);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    animation: slide-right 400ms ease-in;
}

#navbar > .container {
    display: grid;
    grid-template-columns: max-content 1fr;
    position: relative;
    background-color: var(--accent-color-primary);
    box-shadow: 0px 1px 5px 0.5px black;
}

#navbar > .container > #logo {
    padding: 1rem;
}

#navbar > .container > #logo > a {
    font-family: var(--font-family-primary);
    text-transform: uppercase;
    font-size: clamp(1.5rem, 5vw, 3rem);
}

.links {
    display: none;
    grid-auto-rows: min-content;
    list-style: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    gap: 0.5rem;
    background-color: var(--background-color-secondary);
    padding-top: 1rem;
    align-items: center;
}

.links.active {
    display: grid;
    animation: slide-left 200ms ease;
}

.links > li > a {
    display: block;
    text-decoration: none;
    font-size: clamp(1.5rem, 2vw, 2.25rem);
    font-family: var(--font-family-secondary);
    font-weight: 700;
    color: var(--accent-color-secondary);
    text-transform: uppercase;
    padding: 0.25rem 1rem;
}

.links > li > a:hover {
    background-color: var(--accent-color-secondary);
    color: var(--background-color-primary);
    transform: translateX(10%);
    transition: all 200ms ease-in-out;
}

.links > li > a.active {
    color: var(--accent-color-primary);
}

.btn-menu {
    justify-self: end;
    border: none;
    background: none;
    position: relative;
    z-index: 1;
    padding: 0.5rem;
}

.btn-menu > img {
    max-width: 32px;
}

#hero > .container {
    position: relative;
    display: grid;
    min-height: 100vh;
    box-shadow: 0px 1px 10px 2px black;
}

#hero > .container > .hero-text {
    position: absolute;
    justify-self: center;
    align-self: center;
}

#hero > .container > .hero-text > h1::before {
    position: absolute;
    left: 0;
    right: -2%;
    bottom: -2%;
    min-width: 100%;
    align-self: center;
    content: 'Exile\'s Pizza';
    font-family: var(--font-family-primary);
    font-size: clamp(3.5rem, 18vw, 10rem);
    color: var(--accent-color-primary);
    letter-spacing: 1.5vw;
    text-align: center;
}

#hero > .container > .hero-text > h1 {
    font-size: clamp(3.5rem, 18vw, 10rem);
    color: var(--background-color-secondary);
    letter-spacing: 1.5vw;
    text-align: center;
    position: relative;
    text-shadow: 
            0px 0px var(--background-color-primary),
            2px -2px var(--background-color-primary);
    transition: 400ms;
}

#hero > .container > .hero-text > h1:hover::before {
    -webkit-mask: repeating-linear-gradient(45deg, transparent 0 3px, rgba(0, 0, 0, 0.8) 0 6px);
    mask: repeating-linear-gradient(45deg, transparent 0 3px, rgba(0, 0, 0, 0.8) 0 6px);
}
#hero > .container > .hero-text > h1:hover {
    text-shadow: 
            0px 0px var(--accent-color-secondary),
            1px 1px var(--accent-color-secondary),
            2px 2px var(--accent-color-secondary),
            3px 3px var(--accent-color-secondary),
            4px 4px var(--accent-color-secondary),
            5px 5px var(--accent-color-secondary),
            6px 6px var(--accent-color-secondary),
            7px 7px var(--accent-color-secondary),
            8px 8px var(--accent-color-secondary),
            9px 9px var(--accent-color-secondary),
            10px 10px var(--accent-color-secondary);
    transition: 500ms;
}

#hero > .container > #carousel > .container {
    display: grid;
    min-height: 100%;
}

#hero > .container > #carousel > .container > button {
    position: absolute;
    align-self: center;
    border: none;
    background: none;
    display: grid;
}

#hero > .container > #carousel > .container > button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#hero > .container > #carousel > .container > button:last-of-type {
    right: 0;
}

#hero > .container > #carousel > .container > button > img {
    width: clamp(2rem, 5vw, 5rem);
    filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(2%) hue-rotate(64deg) brightness(108%) contrast(101%);
}

#hero > .container > #carousel > .container > .carousel-item > img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

h1, h2, h3, h5 {
    font-family: var(--font-family-primary);
    color: var(--accent-color-secondary);
    text-transform: uppercase;
    font-size: clamp(2rem, 5vw, 3rem);
}

#content {
    min-height: 100vh;
}

#content > * {
    scroll-margin-top: 5rem;
    display: grid;
    row-gap: 1rem;
}

#content > * > h1 {
    text-align: center;
    padding: 1rem;
    margin-bottom: -2rem;
    margin-top: 1rem;
    font-size: clamp(3rem, 5vw, 5rem);

    animation: slide-up 100ms ease-in;
}

#content > * > *:not(h1) > .container {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    font-family: var(--font-family-secondary);

    border: 9px solid transparent;
    outline-offset: -20px;
    outline-style: auto;
    font-size: clamp(1rem, 5vw, 1.30rem);

    animation: slide-up 200ms ease-in;
}

#content > * > *:not(h1) > .container > * {
    padding: 1rem;
    background-color: var(--background-color-secondary);
    border: 2px solid black;
}

footer {
    padding: 1rem;
    background-color: var(--accent-color-primary);
    box-shadow: 0px 4px 7px 3px black;
}

footer > .container {
    display: flex;
    justify-content: center;
}

footer > .container > h5 {
    letter-spacing: 2px;
    font-size: clamp(1rem, 3vw, 1.5rem);
}

@media screen and (min-width: 768px) {
    #navbar {
        animation: slide-left 200ms ease-in;
    }

    .links {
        display: grid;
        justify-content: end;
        align-content: center;
        grid-template-columns: repeat(4, min-content);
        position: static;
        padding-top: 0;
        padding-right: 2rem;
        grid-auto-rows: 1fr;
        gap: 2rem;
    }

    .links > li > a {
        padding: 0;
        position: relative;
        display: flex;
        justify-items: center;
    }

    .links > li > a:hover {
        background-color: transparent;
        transform: scale(1.25);
        transition: all 200ms ease-in-out;
    }

    .links > li > a:after {
        position: absolute;
        bottom: -10%;
        content: '';
        width: 100%;
        height: 0.2rem;
        background-color: var(--accent-color-secondary);
        transform: scaleX(0);
        transition: all 200ms ease-in-out;
    }

    .links > li > a:hover:after {
        transform: scaleX(1) scaleY(1.5);
    }

    .btn-menu {
        display: none;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    
    100% {
        transform: translateY(0%);
    }
}