<header>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/sign-up">Sign Up</a>
      </li>
      <% if (locals.currentUser) { %>
        <li>
          <p>Logged in as <span><%= currentUser.username %></span></p>
        </li>
        <li>
          <a href="/logout">log out</a>
        </li>
      <% } else { %>
        <li>
          <%- include('./login') %>
        </li>
      <% } %>
    </ul>
  </nav>
</header>