<form action="/login" method="POST">
  <h2>Login In</h2>
  <ul>
    <li class="form-item">
      <label for="username">Username</label>
      <input id="username" name="username" type="text" placeholder="username">
    </li>
    <li class="form-item">
      <label for="password">Password</label>
      <input id="password" name="password" type="password">
    </li>
  </ul>
  <button type="submit">Login</button>
</form>